$fullContainerWidth: 100%;
$containerWidth: 0;

.container-full {
  max-width: $containerWidth;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  &.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  &.left {
    padding-left: 240px;
    margin-right: auto;
    @include large {
      padding: 0;
    }
  }
  &.right {
    padding-right: 240px;
    margin-left: auto;
    @include large {
      padding: 0;
    }
  }
}

.container {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
}
