*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
  font-family: $main-font;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  &:hover {
    color: inherit;
  }
}
button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}
img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}
